@model List<Capstone.Data.Models.Student>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
   

        <div class="well tile">
            <h1 align="center">Check out our students!</h1>
            <br/>
            <p>
                We have two classes: <span class="fontBold">.NET</span> and <span class="fontBold">
                    Java
                </span>
                <br />
                You can see the list of our students bellow. If you are interested to know more about us or our students, please contact us.
            </p>
        </div>
    <div class="row">

        <div class="col-sm-6 student">
            <h3 class="well tile" style="text-align:center">.NET</h3>

            @foreach (var item in (Model as List<Capstone.Data.Models.Student>))
            {
                if (item.Class == ".NET")
                {
                    <table class="studentDisplay well tile">
                        <tr>
                            
                        </tr>
                        <tr>
                            
                            <td align="center">
                            <strong>@item.FirstName  @item.LastName</strong><br />
                                <img src="@string.Concat("/Content/images/", item.FirstName.ToLower(), item.LastName.ToLower(), ".jpg")" class="img-circle profileImage" />
                            </td>
                            <td>
                                @item.ElevatorPitch
                                    @*elevator pitch is coming here. We need to add it to model, and data access layer.
                                    tyler is going to do it. then it will look great.*@
                                </td>
                            </tr>
                            

                        </table>
                }

            }


        </div>

       
        <div class="col-sm-6 student">
            <h3 class="well tile" style="text-align:center">Java</h3>
            @foreach (var item in (Model as List<Capstone.Data.Models.Student>))
            {
                if (item.Class == "JAVA")
                {
                    <table class="studentDisplay well tile">
                        
                        <tr>
                            <td align="center">
                                <strong>@item.FirstName  @item.LastName</strong><br/>
                                <img src="@string.Concat("/Content/images/", item.FirstName.ToLower(), item.LastName.ToLower(), ".jpg")" class="img-circle profileImage" />
                            </td>
                            <td>
                              @item.ElevatorPitch
                            </td>
                        </tr>
                       

                    </table>
                }

            }
        </div>
    </div>

</div>
