@model Capstone.Data.Models.Employer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h4 align="center">Search</h4>
                @Html.Action("SearchStudentsByLanguage", "Student")
            </div>

        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Welcome @Model.CompanyName! </h3>

                <h4>Programming languages you are interested in: </h4>
                <table id="employerSkills">

                    @*for now assume there is only one interest*@
                    @foreach (var item in Model.Programming_language)
                    {
                        <tr>
                            <td>@item</td>
                            <td>@Html.ActionLink("Delete", "DeleteSkillInterested",  new { skill = item , username = Model.Username} )</td>
                        </tr>
                    }


                </table>
                <br />

                <div id="editDiv">

                    <script src="/Content/AddANewLanguage.js"></script>

                    <label for="AddLanguage"></label>
                    <input type="text" name="AddLanguage" id="newLanguageTextbox"/>
                    <button id="addskill" type="submit">Add</button>
                    <input id="hiddenusername" value="@Model.Username" type="hidden" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h4>List of students:</h4>
                <br />
                @Html.Action("NewsFeedByLanguage", "Student", new { username = Model.Username })

            </div>

        </div>
    </div>


</div>



