@model Capstone.Data.Models.Employer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h4>Search</h4>
                @Html.Action("SearchStudentsByLanguage", "Student")
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Welcome @Model.CompanyName ! </h3>
                <h4>Programming languages you are intersted in: </h4>
                <ul id="employerSkills">
                   
                    @*for now assume there is only one interest*@
                    @*@foreach(var item in Model.Programming_language)
                    {
                        <li>@item</li>
                    }*@

                    <li>@Model.Programming_language</li>
                </ul>
                <br/>
                
                <div id="editDiv">
                    <ul>
                        @*@foreach (var item in Model.Programming_language)
                        {
                            <li>@item &nbsp;&nbsp;&nbsp;&nbsp; <a href='@Url.Action("DeleteSkillInterested", "Employer",new { skill = item})'>delete</a></li>
                        }*@
                    </ul>
                    <button id="addskill">Add</button>
                    <button id="deleteSkill">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h4>List of students:</h4>
               <br/>
                @Html.Action("NewsFeedByLanguage", "Student")

            </div>
        </div>
    </div>
  

</div>



