@model Capstone.Data.Models.Staff

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="well staffDiv tile">
                <h1 align="center">Hello @Model.FirstName ! </h1>
                <p align="center">
                    <img src="@string.Concat("/Content/images/",Model.FirstName.ToLower(), ".jpg")" class="img-circle profileImage" />
                </p>
                <br />
                <br />

                <div class="row">
                    <div class="col-md-3"></div>
                    <span class="btn btn-danger col-md-6 addStaffButton">+ New Staff User</span>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"> </div>
                    <span class="btn btn-success col-md-3 addStudentButton">.btn-success</span>
                    <div class="col-md-2"></div>
                        <span class="btn btn-success col-md-3 addStudentButton">.btn-success</span>
                    
                </div>
                @*<li><a href='@Url.Action("CreateStaffUser", "Staff", new { username = Model.Username})'> Add a new Staff</a></li>*@
                @*<li><a href="@Url.Action("CreateStudentUser", "Staff",new { username = Model.Username})">Add a new Student</a></li>

                    <li><a href='@Url.Action("CreateEmployerUser", "Staff",new { username = Model.Username})'> Add a new Employer</a></li>*@



            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <span class="btn btn-danger col-md-4 addStaffButton">.btn-danger</span>
        @*<div class="col-md-4">

            </div>*@
    </div>
    <div class="row">
        <button class="well col-md-4 tile ">
            x   + New Staff User
        </button>
        <div class="col-md-4">

        </div>
        <button class="well col-md-4 tile danger">
            x   + New Staff User
        </button>
    </div>



</div>

