@model Capstone.Data.Models.Staff

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="well">
                <h2>Hello @Model.FirstName ! </h2>
                <img src="@string.Concat("/Content/images/",Model.FirstName.ToLower(), ".jpg")" class="img-circle profileImage" />
                <br />
                <br />
                <ul class="creatNewUser">
                    <li><a href='@Url.Action("CreateStaffUser", "staff")'> Add a new Staff</a></li>
                    <li><a href="@Url.Action("CreateStudentUser", "staff")">Add a new Student</a></li>
                    <li><a href='@Url.Action("CreateEmployerUser", "staff")'>Add new Employer</a></li>
                    @*<li><a href='@Url.Action("DeleteUser", "staff")'> Delete a User</a></li>*@
                    <li>Delete a user</li>
                    <li>Change Password</li>
                </ul>

            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
   

</div>

