@model Critter.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="well tile">

            <h2 align="center">Change Password</h2><br/><br/>
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
            {
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeHolder = "Current Password" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeHolder = "New Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeHolder = "New Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                @Html.Hidden("username", Model.Username)
                <br/><br/>
                <button type="submit" class="btn btn-primary">Change Password</button>
            }
        </div>
    </div>
    <div class="col-md-4"></div>
</div>