@model Capstone.Web.Models.LoginViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <br/>
    <div class="row">

        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 loginDiv">
            <div class="well">
                @using (Html.BeginForm("LogIn", "User", FormMethod.Post)) { @Html.ValidationSummary()   @Html.LabelFor(m => m.Username)  <br/>
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
                    <br />
                    <br />
                    @Html.LabelFor(m => m.Password)
                    <br/>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    <br />
                    <br />
                    <button  class="btn btn-primary">Log in</button>
                    <br />
                }

                <br />

                @Html.ActionLink("Forgot Password?", "ForgotPassword", "User")
            </div>

        </div>
        <div class="col-sm-4 ">
            
        </div>
    </div>
</div>

