@model Capstone.Data.Models.Student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="well dash">
                <h2>Hello @Model.FirstName! </h2>
                <img src="@string.Concat("/Content/images/",Model.FirstName.ToLower(), Model.LastName.ToLower(), ".jpg")" class="img-circle profileImage" />
                <br />
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <table>
                    <thead>
                        <tr>
                            <td>Summary</td>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>@Model.Summary</td>
                        </tr>
                        <tr>
                            <td><button type="submit">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well dash">
                <table>
                    <thead>
                        <tr>
                            <td>Contact Info</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.ContactInfo</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Edit</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                @using (Html.BeginForm("UpdateProfile", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="file1">Photo:</label>
                    <input type="file" name="photo" id="file1" />

                    <label for="file2">Resume:</label>
                    <input type="file" name="resume" id="file2" />

                    <label for="file3">Cover Letter:</label>
                    <input type="file" name="coverLetter" id="file3" />
                    <br>

                    <input class="btn btn-primary" type="submit" value="Submit">
                }
               </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <table>
                    <thead>
                        <tr>
                            <td>Academic Degree</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.AcademicDegree</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Edit</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <table>
                    <thead>
                        <tr>
                            <td>Previous Experience</td>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>@Model.PreviousExperience</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Edit</button>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>





</div>
