@model Capstone.Data.Models.Student

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        
        <div class="col-md-9">
            <div class="well dash" >
                <h2>Hello @Model.FirstName ! </h2>
                <img src="@string.Concat("/Content/images/",Model.FirstName.ToLower(), Model.LastName.ToLower(), ".jpg")" class="img-circle profileImage" />
                <br />
                
                <br />
                <table id="editinfo">
                        <tr>
                            <td>Summary</td>
                            <td>Previous Experience</td>
                            <td>Degree</td>
                            <td>Contact Info</td>
                            <td>Skills</td>
                            <td>Interests</td>
                        </tr>
                        <tr>
                            <td>@Model.Summary</td>
                            <td>@Model.PreviousExperience</td>
                            <td>@Model.AcademicDegree</td>
<<<<<<< HEAD
                            <td>@Model.ContantInfo</td>
                            @*<td>@Model.Skills</td>
                            <td>@Model.Interests</td>*@
=======
                            <td>@Model.ContactInfo</td>
                            <td>@Model.Skills</td>
                            <td>@Model.Interests</td>
>>>>>>> 9f545f330fe5d0918259fa52c5506688d986791f
                        </tr>
                </table>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Summary</th>
                    </tr>
                    @for( int i = 0; i < Model.ProjectList.Count; i++)
                    {
                        <tr>
                            <td>@Model.ProjectList[i].Title</td>
                            <td>@Model.ProjectList[i].Summary</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
        <div class="col-md-3">
            <ul class="creatNewUser">
                <li>@Html.ActionLink("Update Profile", "UpdateProfile","Student", new { username = Model.Username }, null) </li>
                <li>Change Password</li>
            </ul>
        </div>
    </div>
   

</div>


